table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
  }
  
  tr, th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    font-weight: bold;
  }

/*Solução*/

thead {
    background-color: violet;
}

thead tr:nth-child(2), tbody tr:last-child th:nth-child(1) {
  background-color: red;
}

thead tr th:nth-child(3), tbody tr:first-child td:last-child {
  background-color: orangered;
}

tbody {
  background-color: blue;
}

tbody{
  background-color: greenyellow;
}

tbody td:nth-child(2) {
  background-color: gray ;
}

tbody tr td:last-child {
  background-color: blue;
}